.agent-*
.config/fish/completions
.config/fish/conf.d
.config/fish/fish_variables
.config/fish/functions/__*.fish
.config/fish/functions/fisher.fish
.config/fish/local.fish
.config/fish/themes
.config/gh
.config/git/allowed_signers
.config/npm/user.npmrc
.config/zed/prompts
.config/zed/themes
.DS_Store
.hooks/_
.lastsync
.pnpm-store
coverage
node_modules
target
tsconfig.tsbuildinfo
