.agent-*
.DS_Store
.hooks/_
.pnpm-store
coverage
home/.config/fish/completions
home/.config/fish/conf.d
home/.config/fish/fish_variables
home/.config/fish/functions/__*.fish
!home/.config/fish/functions/__domfiles_*.fish
home/.config/fish/functions/fisher.fish
home/.config/fish/local.fish
home/.config/fish/themes
home/.config/gh
home/.config/git/allowed_signers
home/.config/npm/user.npmrc
home/.config/zed/prompts
home/.config/zed/themes
node_modules
target
tsconfig.tsbuildinfo
